/* Coolors Exported Palette - https://coolors.co/1d2f6f-d7ebf7-176ab2-1ab4e2-1c1c4c */

/* CSS HEX */
--delft-blue: #1d2f6fff;
--alice-blue: #d7ebf7ff;
--green-blue: #176ab2ff;
--aero: #1ab4e2ff;
--space-cadet: #1c1c4cff;

/* CSS HSL */
--delft-blue: hsla(227, 59%, 27%, 1);
--alice-blue: hsla(203, 67%, 91%, 1);
--green-blue: hsla(208, 77%, 39%, 1);
--aero: hsla(194, 79%, 49%, 1);
--space-cadet: hsla(240, 46%, 20%, 1);

/* SCSS HEX */
$delft-blue: #1d2f6fff;
$alice-blue: #d7ebf7ff;
$green-blue: #176ab2ff;
$aero: #1ab4e2ff;
$space-cadet: #1c1c4cff;

/* SCSS HSL */
$delft-blue: hsla(227, 59%, 27%, 1);
$alice-blue: hsla(203, 67%, 91%, 1);
$green-blue: hsla(208, 77%, 39%, 1);
$aero: hsla(194, 79%, 49%, 1);
$space-cadet: hsla(240, 46%, 20%, 1);

/* SCSS RGB */
$delft-blue: rgba(29, 47, 111, 1);
$alice-blue: rgba(215, 235, 247, 1);
$green-blue: rgba(23, 106, 178, 1);
$aero: rgba(26, 180, 226, 1);
$space-cadet: rgba(28, 28, 76, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-right: linear-gradient(90deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-bottom: linear-gradient(180deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-left: linear-gradient(270deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-top-right: linear-gradient(45deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-bottom-right: linear-gradient(135deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-top-left: linear-gradient(225deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-bottom-left: linear-gradient(315deg, #1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);
$gradient-radial: radial-gradient(#1d2f6fff, #d7ebf7ff, #176ab2ff, #1ab4e2ff, #1c1c4cff);