/* Font import and basic styling remain the same */

/* Updated .hero-nav styles */
.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
  min-height: 30px;
  background-image: url("./images/hero-nav-blue-02.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Overlay styles */
.hero-nav:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
}

/* Overlay styles when .fixme class is added */
.hero-nav.fixme:before {
  background: #1c1c4c;
}

/* Your existing CSS styles remain the same */

/* Logo styles */
.logo {
  flex: 1; /* Adjust to your layout needs */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px; /* Adjust spacing as needed */
}

.logo-img {
  max-width: 100%; /* Ensure the logo doesn't overflow */
  height: auto;
  width: 50%;
  transition: transform 0.3s ease;
}


.scroll-el {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: start;
  gap:8px;
  color: white;
  font-weight: bold;
  text-align: right;
  line-height: 20px;
}
.scroll-el span {
  font-weight: lighter;
  font-size: smaller;
}

.scroll-el img {
  height: 40px;
}

/* .page-content styles remain the same */
.page-content {
  /* background: #1C1C4C; */
}
